@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #ffffff;
  --text: #111827;
}

.dark {
  --bg: #09090b;
  --text: #ffffff;
}

body {
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  transition: all 0.3s ease;
}

::selection {
  background: #8b5cf6;
  color: white;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255,255,255,0.08),
    rgba(255,255,255,0.02)
  );

  backdrop-filter: blur(25px);

  border: 1px solid rgba(255,255,255,0.12);

  box-shadow:
    0 8px 32px rgba(0,0,0,0.35),
    inset 0 1px 1px rgba(255,255,255,0.08);
}

.section {
  max-width: 1280px;
  margin: auto;
  padding: 90px 24px;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #8b5cf6,
    #06b6d4
  );
  -webkit-background-clip: text;
  color: transparent;
}

.glow-purple {
  box-shadow:
    0 0 40px rgba(139,92,246,.25);
}
.glow-pill:hover {
  border-color: rgb(139 92 246);

  box-shadow:
    0 0 8px rgba(139, 92, 246, 0.35),
    0 0 16px rgba(139, 92, 246, 0.2);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  width: max-content;
  animation: marquee 20s linear infinite;
}